<!DOCTYPE html>
<html lang="en" ng-app='flink' id='html'>
<head>
	<meta charset="UTF-8">

  <meta name="google-signin-client_id" content="770134292731-gsjfclovkvfh891kq4nmkgld4pops4au.apps.googleusercontent.com">
  <meta name="google-site-verification" content="8pZndvqJ8BY-7RwNGBb8V1t--fFHXacjGElkasaVGUs" />

	<title>Flink</title>


  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{%  block css  %}
{%  endblock  %}

</head>
<body ng-controller='dashCtr as dash' id='body'>


<div layout="column">
  <md-toolbar layout-align='center center' text-align='center'>
    <div class="md-toolbar-tools">

      {%  if user  %}
        <md-button ng-href='/users/{{user.id}}/dash'>
          <img id='flink-logo' ng-src="/static/js/resources/pics/flink.png">
        </md-button>

        <md-button ng-href='/users/{{user.id}}/friends'>
        	Friends
        </md-button>

  			<md-button ng-href='/users/{{user.id}}/calendar'>
        	Calendars
        </md-button>

  			<md-button ng-href='/users/{{user.id}}/messages'>
        	Messages
        </md-button>

      {%  else  %}

        <span flex></span>
        <span flex></span>

        <div >
          <md-button ng-href='/'>
            <img id='flink-logo' ng-src="/static/js/resources/pics/flink.png">
          </md-button>
        </div>
      {% endif   %}

      <span flex></span>

			<span flex></span>


{%  if user  %}
      <!-- <label for="">My Account</label>
      <md-select ng-href='/myaccount'>
        <md-option>
          Edit
        </md-option>
        <md-option ng-href='/logout'>
          Logout
        </md-option>
      </md-select> -->


    <!-- <md-button>
      <md-menu>
        <md-button  ng-click="ctrl.openMenu($mdOpenMenu, $event)"> -->
          <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
          <!-- My Account
        </md-button>
        <md-menu-content width="4">

          <md-menu-item>
            <md-button ng-click="ctrl.redial($event)">
              <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
              Redial
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
              <md-icon md-svg-icon="call:voicemail"></md-icon>
              Check voicemail
            </md-button>
          </md-menu-item>

          <md-menu-divider></md-menu-divider>



        </md-menu-content>
      </md-menu>
    </md-button> -->


        <md-menu>
          <md-button ng-click='dash.openMenu($mdOpenMenu, $event)'>
            My Account
          </md-button>

          <md-menu-content>
            <md-menu-item>
              <md-button ng-href='/users/{{user.id}}/edit'>
                Edit
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button href='/google/logout'>
                Logout Google
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-href='/logout'>
                Logout
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

{%  else  %}
      <md-button ng-href='/login'>
        Login/Signup
      </md-button>
{%  endif  %}

    </div>
  </md-toolbar>

<!-- <h2>{{user}}</h2> -->

</div>

{% for message in get_flashed_messages() %}
        <p>{{message}}</p>
{% endfor %}



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

<!-- Google Signin Api -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

  {%  block js  %}

  {%  endblock  %}


</body>
</html>
