<!DOCTYPE html>
<html lang="en" ng-app='flink'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>


	<link rel="stylesheet" href="/static/css/style.css">

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">


</head>
<body ng-controller="baseCtr as base" ng-cloak>


<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-href='/'>Flink</md-button>
			<span flex></span>
      
      <md-button ng-href='/friends'>
      	Friends
      </md-button>

			<md-button ng-href='/calendars'> 
      	Calendars
      </md-button>

			<md-button>
      	Messages
      </md-button>
			<span flex></span>


{%  if current_user.is_authenticated  %}
      <md-button ng-href='/myaccount'>
        My Account
      </md-button>
{%  else  %}
      <md-button ng-href='/login'>
        Login/Signup
      </md-button>
{%  endif  %}

    </div>
  </md-toolbar>

</div>

{% for message in get_flashed_messages() %}
        <p>{{message}}</p>
{% endfor %}

	{%  block content  %}

	{%  endblock  %}




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>


<script src='../static/js/app.js'></script>
<script src='../static/js/services.js'></script>
<script src='../static/js/controllers.js'></script>
<script src='../static/js/components.js'></script>

</body>
</html>
