{%  extends 'base.html'  %}

{% block content %}

<div id='loginDiv' ng-controller='loginCtr as login'> 
<br>
	<h1>Login</h1>

	<a href="{{url_for('users.signup')}}">Don't have an account Yet? Create one here</a>


	<br>
	<form method="post" action="/login">
	  {{ form.csrf_token }}
	  <p>
	    <md-input-container>
			<label for="">name</label>
			<input type="text" name='name'>
		</md-input-container>
		

	    <span class="text-danger">
	      {% if form.name.errors %}
	        {% for error in form.name.errors %}
	          {{ error }}
	        {% endfor %}
	      {% endif %}
	    </span>
	  </p>

	  <p>
		<md-input-container>
			<label for="">Password</label>
			<input type="password" name='password'>
		</md-input-container>

	    <span class="text-danger">
	      {% if form.password.errors %}
	        {% for error in form.password.errors %}
	          {{ error }}
	        {% endfor %}
	      {% endif %}
	    </span>
	  </p>
    <md-button class='md-primary' type="submit">Login</md-button>
	</form>


</div>

{% endblock %}



