{%  extends 'user_base.html'  %}

{% block content %}

<div id='loginDiv' ng-congtroller='loginCtr as login' > 
<br>
	<h1>Login</h1>
	profile:[[login.name]]
<br>
	<a href="/signup">Don't have an account Yet? Create one here</a>


	<br>
	<form method="post" action="/login">
	  {{ form.csrf_token }}
	  <p>
	    <md-input-container>
			<label for="">name</label>
			<input type="text" name='name'>
		</md-input-container>
		

	    <span class="text-danger">
	      {% if form.name.errors %}
	        {% for error in form.name.errors %}
	          {{ error }}
	        {% endfor %}
	      {% endif %}
	    </span>
	  </p>

	  <p>
		<md-input-container>
			<label for="">Password</label>
			<input type="password" name='password'>
		</md-input-container>

	    <span class="text-danger">
	      {% if form.password.errors %}
	        {% for error in form.password.errors %}
	          {{ error }}
	        {% endfor %}
	      {% endif %}
	    </span>
	  </p>
    <md-button class='md-primary' type="submit">Login</md-button>
	</form>
	
  <!-- <div class="g-signin2" data-onsuccess="login.onSignIn_google">Google</div>
  <a href="#" ng-click="login.signOut_google();">Sign out</a> -->


<!-- 	<a href="https://flink.auth0.com/authorize?response_type=code
  &scope=openid%20profile
  &client_id=3Avm3lZVNrAll3yu0NPVhwO2oYobIkXt
  &redirect_uri=http://localhost:3000/callback
  &connection=facebook"> Facebook Login</a> -->

<!-- <br> -->
	<a href="{{url_for('oauthG.login')}}">Google Login</a>
</div>

{% endblock %}



