{%  extends 'user_base.html'  %}

{%  block content  %}
<div ng-controller='messagesCtr as mes' id='messagesDiv'>
	<h1>Messages</h1>
	
	<md-button ng-href='/users/{{user.id}}/messages/new' layout='row' layout-align='center center'>
		<i class="material-icons">send</i>
		<label>New Message</label>
	</md-button>
	
	<md-button style='background-color: #81D4FA' hide-gt-sm ng-click="mes.openLeftMenu()">
		Inbox
	</md-button>

	 <md-content>
	    <md-tabs md-stretch-tabs='always'  md-border-bottom style='min-height: 1000px'> 

				<md-tab label="I">
					<div layout='row' >
					
						<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')">
							Left Nav!
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="convo in mes.inbox">
									<div class="md-list-item-text" ng-click='mes.getMessages(convo.id); mes.openLeftMenu()'>
									<!-- <h2>function: [[mes.inbox]]</h2> -->
										<h3>[[convo.id]]</h3>
										<p>[[convo.given_name]]</p>
									</div>
								</md-list-item>
							</md-list>
						</md-sidenav>
						
						<md-content id='inboxMsgMdContent'>
							<md-list>
								<md-list-item ng-repeat='msg in mes.messages'> 
									<div class='inboxMsgDiv' layout='row' layout-align='space-between center' layout-padding>
										
										<div>
											<h3>[[mes.user.given_name]]</h3>
											<img src="[[mes.user.picture]]">
										</div>
										
										<div>
											<img id='inboxMsgStkr' ng-src="/static/js/resources/pics/stickers/[[msg.occasion]].png">
											<h1>[[msg.content]]</h1>
										</div>
										
										<div>
											<h3>[[mes.receiver.given_name]]</h3>
											<img src="[[mes.receiver.picture]]" alt="">
										</div>

									</div>
								</md-list-item>
							</md-list>
						</md-content>
						

					</div>

				</md-tab>

			<md-tab label="O">
				<md-content class="md-padding">
					<h1 class="md-display-2">OutBox</h1>
					<p>Lorem ipsum </p>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>




</div>

{%  endblock  %}