{%  extends 'user_base.html'  %}

{%  block content  %}
<div ng-controller='new_msgCtr as nm'message.>

	<div layout-align='center center' layout='column'>
		<h1 flex>New Message</h1>

		<!-- <img id='new_msg_smiley' src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Day-template.svg/2000px-Day-template.svg.png"> -->

		<div layout-align='center center' layout='row'>


			<md-content md-whiteframe='5' id='new_msg_box'>
				<md-toolbar layout='row' layout-align='center center' layout-padding>
					<h3>From: [[dash.name]]</h3>
					<span flex='25'></span>
					<h3 style='position: relative; right: 10px'>To: [[nm.message.receiver]]</h3>
				</md-toolbar>



			    <md-content flex layout-padding>
			      <div layout="column" layout-fill layout-align="top center">
				   <div layout='row' layout-align='space-between center'>
					

						<!-- <md-input-container>
					        <label>
								To:
					        </label>
							<input type="text" ng-model='nm.message.receiver' typehead='friend in nm.friends.items' required>
						</md-input-container> -->

						<!-- <div ng-repeat ="f in nm.friends.items">
							<h1>DIS IS F [[f.displayName]]</h1>
						</div> -->

						<md-autocomplete 
						ng-model='nm.message.receiver'  
							md-search-text="nm.searchText" 
							md-items="friend in nm.getMatches(nm.friends.items)" md-item-text="friend.displayName"
							md-selected-item-change="nm.selectedItemChange(friend)"

							>
						  <md-item-template>
						  	<span md-highlight-text="nm.searchText">[[friend.displayName]]</span>
						  </md-item-template>
						  <md-not-found>
						  	No matches found.
						  </md-not-found>
						</md-autocomplete>
					
						<span flex></span>
						
						

						<div layout='row' layout-align='center center'>
							<label for="Occasion">Occasion</label>
							<select name="Occasion" id="occasion" ng-model='nm.message.occasion' required>
								<option values='[[stk.name]]'  ng-repeat='stk in nm.stickers'>
								[[stk.name]]
								</option>
							</select>
								
							<img id='new_msg_img' ng-show='nm.message.occasion.length > 0' ng-src="/static/js/resources/pics/stickers/[[nm.message.occasion]].png">
							
						</div>	
					</div>	


					<div>
						<md-input-container>	
							<label>
								Message:
					        </label>
							<textarea ng-model='nm.message.content'> </textarea> 
						</md-input-container>
			        </div> 

					<div>
						<md-input-container>	
							<label>
								Date:
					        </label>
							<input type="date" ng-model='nm.message.date'>
						</md-input-container>
			        </div> 
		        					<h4>OR</h4>
					<div style="text-align: center">
			        	<h3>Specity date desired:</h3>
						
						<md-input-container>       
							<label>
								From:
					        </label>
								<input type="date" ng-model='nm.message.dateRangeFrom'>

						</md-input-container>
						
						<md-input-container>       
							<label>
								Until:
					        </label>
								<input type="date" ng-model='nm.message.dateRangeUntil'>
						</md-input-container>


			        </div> 

			        <div>						
						<fieldset id='weekdaysFieldset'>
							<legend>Specity Weed Days</legend>
								<div id='weekdaysCheckBox' layout='column' layout-wrap >
									<div flex-xs flex="50">
										<md-checkbox ng-model="nm.message.weekdaysMon" aria-label="Checkbox 1">
											Mon
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysTues" aria-label="Checkbox 1">
											Tues
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysWed" aria-label="Checkbox 1">
											Wed
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysThurs" aria-label="Checkbox 1">
											Thurs
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysFri" aria-label="Checkbox 1">
											Fri
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysSat" aria-label="Checkbox 1">
											Sat
										</md-checkbox>

										<md-checkbox ng-model="nm.message.weekdaysSun" aria-label="Checkbox 1">
											Sun
										</md-checkbox>


									</div>
								</div>
						</fieldset>

				    </div>



			        <div>
			        	<h3>Specity time desired:</h3>
						<md-input-container>       
							<label>
								From:
					        </label>
								<input type="time" ng-model='nm.message.timeDesiredFrom'>

						</md-input-container>
						
						<md-input-container>       
							<label>
								Until:
					        </label>
								<input type="time" ng-model='nm.message.timeDesiredUntil'>
						</md-input-container>


			        </div> 


			        <div>
			        	[[nm.message]]
			          <md-button ng-click="nm.sendMsg(nm.message.occasion, nm.message.content, nm.message.date, nm.message.dateRangeFrom, nm.message.dateRangeUntil, nm.message.weekdaysMon, nm.message.weekdaysTues, nm.message.weekdaysWed, nm.message.weekdaysThurs, nm.message.weekdaysFri, nm.message.weekdaysSat, nm.message.weekdaysSun, nm.message.timeDesiredFrom, nm.message.timeDesiredUntil)"
			            class="md-primary">
			            Send Message
			          </md-button>
			        </div>
			        <div ng-show='nm.sendFailed'>
			        	Please select friend and occasion
			        </div>
			        <div>
			          <md-button ng-click="toggleRight()"
			            ng-hide="isOpenRight()"
			            class="md-warn">
			            Cancel
			          </md-button>
			        </div>
			    </div>


			    </md-content>

			</md-content>
		</div>
	</div>
	
	
</div>


<!-- 
<form>
	<md-input-container>
		<label for="testInput">Test input</label>
		<input id="testInput" type="text" ng-model="data" md-autofocus>
	</md-input-container>
</form>
 -->


{%  endblock  %}


