{%  include 'base.html'  %}

{%  block css  %}
	<link rel="stylesheet" href="{{url_for('users.static', filename='css/style.css')}}">
{%  endblock  %}

{%  block content  %}

{%  endblock  %}


{%  block js  %}
	<script src="{{url_for('users.static', filename='js/app.js')}}"></script>
	<script src="{{url_for('users.static', filename='js/services.js')}}"></script>
	<script src="{{url_for('users.static', filename='js/controllers.js')}}"></script>
	<script src="{{url_for('users.static', filename='js/components.js')}}"></script>

	<script src="https://apis.google.com/js/platform.js" async defer></script>
{%  endblock  %}